<div ng-cloak  ng-if="vm.account.login==null"  >
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="home.title">Welcome, DHL!</h1>


        </div>
    </div>
</div>

<div  style="padding-right: 110px;padding-left: 110px;" ng-if="vm.account.login!=null" >
    <div class="row"   ng-repeat="article in vm.articles   | orderBy: '-id'"   >
        <div class="col-md-10">
            <div class="thumbnail">
                <img class="img-responsive" src="{{article.userImagen.userImagenPathImage}}" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{article.articleReactions.length}}&nbsp;<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h4>
                    <h4><a href="#">{{article.articleName}}</a>
                        <span style="font-size: 12px;"  ng-repeat="hash in article.articleHashes" >{{hash.hash.hashType}}-{{hash.hash.hashName}}&nbsp;</span>
                    </h4>
                    <textarea style="width: 700px;"  readonly >{{article.articleDescription}}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <p class="lead">
                <!--<img src="/content/images/upload/image_profile_default.jpeg" alt="..." class="img-thumbnail">-->
                <div class="caption-full">
                <h4><a href="#">@{{article.user.login}}</a>
                </h4>
                </div>
            </p>
        </div>
    </div>
</div>
