<form name="editForm" role="form"  novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserImagenLabel"  >Create</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label"   for="field_userImagenPathImage">Image</label>
            <input type="file" class="form-control" name="userImagenPathImage" id="field_userImagenPathImage" ng-model="vm.article.userImagen.userImagenPathImage" base-sixty-four-input />
            <img alt="Embedded Image" class="img-responsive" src="data:image/png;base64,{{vm.article.userImagen.userImagenPathImage.base64}}" />
        </div>
        <div class="form-group">
            <label class="control-label"  for="field_articleName">Name</label>
            <input type="text" class="form-control" name="articleName" id="field_articleName" ng-model="vm.article.articleName" />
        </div>
        <div class="form-group">
            <label class="control-label"  for="field_articleDescription">Description</label>
            <input type="text" class="form-control" name="articleDescription" id="field_articleDescription" ng-model="vm.article.articleDescription" />
        </div>
        <div class="form-group">
            <label  for="field_userImagen">Hash</label>
            <select class="form-control" id="field_userImagen" multiple name="userImagen" ng-model="vm.hashsSelected" ng-options="hash.hashType+'-'+hash.hashName for hash in vm.hashs track by hash.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
