<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhl.proyclient1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dhl3novo"
        android:label="@string/dhl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.AppLogin" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.AppLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".EditActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".ConfigActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".AboutActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".HelpActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".WebActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".ProfileActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".NewArticleActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.AppLogin">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>


    </application>

</manifest>